<div class="regis">

       <form ng-submit="chefList.addperson()">
<h1>Login<h1>

      <md-input-container class="md-icon-float md-block">
      <input type="text" ng-model="search" placeholder="User Name">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
      <input type="text" ng-model="search" placeholder="******">
      </md-input-container>


<md-button class="md-raised md-cornered" type="submit" value="submit">submit</md-button>
      </form>
</div>
